NODE_ENV=production
PORT=3000
DATABASE_URL=postgresql://ml_app:YOUR_DB_PASSWORD@localhost/musicleague
APP_URL=https://hinderhole.com
SENDGRID_API_KEY=
MAIL_FROM=league@hinderhole.com
YOUTUBE_API_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
